In [1]:
import pandas as pd

In [2]:
train = pd.read_csv('../../input/train_lat_lon.csv')
test = pd.read_csv('../../input/test_lat_lon.csv')
train['sub_area'] = pd.read_csv('../../input/train.csv')['sub_area']
test['sub_area'] = pd.read_csv('../../input/test.csv')['sub_area']

In [3]:
# tmp=pd.concat([train[['id','lat','lon','id']],test[['id','lat','lon','id']]])
# tmp.columns=['no','latitude','longitude','id']

In [11]:
tmp=pd.concat([train[['id','lat','lon','sub_area']],test[['id','lat','lon','sub_area']]])
tmp.columns=['no','latitude','longitude','sub_area']

In [12]:
tmp.shape

(38133, 4)

In [13]:
tmp.to_csv('../../input/Subarea_Longitud_Latitud.csv')

In [2]:
import data_utils

In [3]:
train, test, macro = data_utils.load_data()

In [4]:
train.head()

,timestamp,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,state,...,sport_count_5000_density_dis,office_count_3000_density_dis,trc_count_5000_density_dis,trc_sqm_5000_density_dis,market_count_5000_density_dis,rel_floor_density_dis,per_raion_person_area_density_dis,young_male_vs_underwork_ratio_density_dis,id,price_doc
0,2011-08-20,43.0,27.0,4.0,12.131274,1.0,1986.120372,2.0,7.824574,-1.0,...,8.0,2.0,8.0,330.0,1.0,0.0,6.0,0.0,1,5850000
1,2011-08-23,34.0,19.0,3.0,12.131274,1.0,1986.120372,2.0,7.824574,-1.0,...,7.0,1.0,4.0,111.0,1.0,0.0,9.0,0.0,2,6000000
2,2011-08-27,43.0,29.0,2.0,12.131274,1.0,1986.120372,2.0,7.824574,-1.0,...,14.0,2.0,7.0,171.0,2.0,0.0,10.0,0.0,3,5700000
3,2011-09-01,89.0,50.0,9.0,12.131274,1.0,1986.120372,2.0,7.824574,-1.0,...,2.0,0.0,2.0,39.0,0.0,0.0,6.0,0.0,4,13100000
4,2011-09-05,77.0,77.0,4.0,12.131274,1.0,1986.120372,2.0,7.824574,-1.0,...,23.0,36.0,14.0,218.0,2.0,0.0,9.0,0.0,5,16331452

In [5]:
test.head()

,timestamp,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,state,...,mosque_count_5000_density_dis,sport_count_5000_density_dis,office_count_3000_density_dis,trc_count_5000_density_dis,trc_sqm_5000_density_dis,market_count_5000_density_dis,rel_floor_density_dis,per_raion_person_area_density_dis,young_male_vs_underwork_ratio_density_dis,id
28988,2015-07-01,39.0,20.700000,2.0,9.0,1.0,1998.000000,1.0,8.900000,3.0,...,0.0,1.0,0.0,0.0,6.0,0.0,0.0,6.0,0.0,NaN
28989,2015-07-01,79.2,30.965197,8.0,17.0,1.0,1986.120372,3.0,7.824574,1.0,...,0.0,0.0,0.0,0.0,5.0,0.0,0.0,250.0,0.0,NaN
28990,2015-07-01,40.5,25.100000,3.0,5.0,2.0,1960.000000,2.0,4.800000,2.0,...,0.0,7.0,1.0,3.0,54.0,1.0,0.0,7.0,0.0,NaN
28991,2015-07-01,62.8,36.000000,17.0,17.0,1.0,2016.000000,2.0,7.824574,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,140.0,0.0,NaN
28992,2015-07-01,40.0,40.000000,17.0,17.0,1.0,1986.120372,1.0,7.824574,1.0,...,0.0,0.0,0.0,0.0,4.0,0.0,0.0,250.0,0.0,NaN

In [10]:
pd.read_csv("../../input/Subarea_Longitud_Latitud.csv")

       Unnamed: 0     no   latitude  longitude     id
0               0  11054  55.682829  37.416212  11054
1               1  19359  55.682829  37.416212  19359
2               2  21535  55.682829  37.416212  21535
3               3  23401  55.682829  37.416212  23401
4               4  23613  55.682829  37.416212  23613
5               5  24349  55.682829  37.416212  24349
6               6  25055  55.682829  37.416212  25055
7               7  25476  55.682829  37.416212  25476
8               8  25576  55.682829  37.416212  25576
9               9  25761  55.682829  37.416212  25761
10             10  26250  55.682829  37.416212  26250
11             11  27304  55.682829  37.416212  27304
12             12  27404  55.682829  37.416212  27404
13             13  27932  55.682829  37.416212  27932
14             14  28177  55.682829  37.416212  28177
15             15  29210  55.682829  37.416212  29210
16             16  30378  55.682829  37.416212  30378
17             17  30429  55.682829  37.416212  30429
18             18  24556  55.686410  37.415503  24556
19             19  27202  55.686410  37.415503  27202
20             20  15066  55.885081  37.476452  15066
21             21  21826  55.885081  37.476452  21826
22             22  24053  55.885081  37.476452  24053
23             23  29565  55.885081  37.476452  29565
24             24  14618  55.711356  37.389027  14618
25             25  25151  55.902867  37.609132  25151
26             26  21328  55.665513  37.427373  21328
27             27  23602  55.814119  37.392010  23602
28             28     79  55.628508  37.474368     79
29             29    561  55.628508  37.474368    561
...           ...    ...        ...        ...    ...
38103        7632  30955  55.685061  37.594826  30955
38104        7633  36935  55.769743  37.684447  36935
38105        7634  31773  55.690429  37.588698  31773
38106        7635  32693  55.690429  37.588698  32693
38107        7636  33149  55.690429  37.588698  33149
38108        7637  34339  55.690429  37.588698  34339
38109        7638  33727  55.680214  37.669018  33727
38110        7639  35717  55.814170  37.581982  35717
38111        7640  30946  55.685242  37.671366  30946
38112        7641  32728  55.685242  37.671366  32728
38113        7642  35369  55.667218  37.643682  35369
38114        7643  35908  55.678272  37.602987  35908
38115        7644  33195  55.735739  37.681617  33195
38116        7645  37607  55.677217  37.604584  37607
38117        7646  36782  55.682307  37.598842  36782
38118        7647  32702  55.708132  37.672601  32702
38119        7648  37266  55.708132  37.672601  37266
38120        7649  32820  55.670841  37.651015  32820
38121        7650  37557  55.679821  37.601930  37557
38122        7651  30794  55.777451  37.538280  30794
38123        7652  31429  55.777451  37.538280  31429
38124        7653  32177  55.777451  37.538280  32177
38125        7654  36951  55.777451  37.538280  36951
38126        7655  37016  55.777451  37.538280  37016
38127        7656  38045  55.777451  37.538280  38045
38128        7657  31386  55.670460  37.612992  31386
38129        7658  31471  55.670460  37.612992  31471
38130        7659  32350  55.670460  37.612992  32350
38131        7660  32475  55.670460  37.612992  32475
38132        7661  32624  55.670460  37.612992  32624

[38133 rows x 5 columns]

In [ ]:
#delete_features = pd.read_table("../../cols_to_drop.txt").iloc[1:62]
    
    #tmp=list(pd.read_table("../../cols_to_drop.txt").iloc[1:62])
    #delete_features = list(set().union(delete_features,tmp))